@model MVCWebUI.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    班级名称：@Model.Class.Name<br />
    <ul>
        @foreach (var s in Model.Students)
        {
            <li>
                @s.Name（@s.Class.Address）
            </li>
        }
    </ul>
</div>

